node_modules/
coverage/
dist/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
.DS_Store
.vscode/settings.json
.vscode/tasks.json
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
